<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @paper.title %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @paper.venue %>
</p>

<p>
  <strong>Year:</strong>
  <%= @paper.year %>
</p>

<p>
  <strong>Author:</strong>
  <%= if @paper.authors.length > 0
        result = ""
        maxCount = @paper.authors.length - 1
        for i in 0..maxCount
          result = result + @paper.authors[i].name
          if i < maxCount
            result = result + ", "
          end
        end
        result
      else
        'unknown'
      end%>
</p>

<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
